@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1f242d;
}

h2 {
    color: transparent;
    font-size: 230px;
    text-transform: uppercase;
    -webkit-text-stroke: 3px #0ef;
}